/.cache/
/.dotfiles/
/.mozilla/
/.oh-my-zsh/
/.ssh/
/.var/
/.pki/
/.vscode/
/Document/
/Desktop/
/Downloads/
/Music/
/Pictures/
/Public/
/Templates/
/Videos/
/Temporal/

/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.gitconfig
/.wget-hsts
/.zcompdump-box-5.9
/.zcompdump-box-5.9.zwc
/.zsh_history

/.config/Code/
/.config/go/
/.config/kate/
/.config/systemd/
/.config/pulse/
/.config/session/
/.config/KDE/
/.config/kde.org/
/.config/kdedefaults/
/.config/libaccounts-glib/
/.config/kdeconnect/
/.local/state/wireplumber/
/.local/share/kate/
/.local/share/kactivitymanagerd/
/.local/share/libkunitconversion/
/.local/share/Trash/
/.local/share/klipper/
/.local/share/kwalletd/
/.local/share/flatpak/
/.local/share/ark/
/.local/share/baloo/

/.config/bluedevilglobalrc
/.config/discoverrc
/.config/ktimezonedrc
/.config/kwalletrc
/.config/trashrc
/.config/plasma-welcomerc
/.config/kate-externaltoolspluginrc
/.local/share/sddm/wayland-session.log
/.local/share/recently-used.xbel
/.local/share/user-places.xbel.bak
/.local/share/user-places.xbel.tbcache
